evaluate==0.4.5
google-colab==1.0.0
pydantic_core==2.33.2
gspread-dataframe==4.0.0
pylibraft-cu12==25.6.0
seaborn==0.13.2
tzlocal==5.3.1
grpc-interceptor==0.15.4
weasel==0.4.1
portpicker==1.5.2
smart_open==7.3.0.post1
google-cloud-dataproc==5.21.0
termcolor==3.1.0
google-cloud-resource-manager==1.14.2
pandas-gbq==0.29.2
osqp==1.0.4
blobfile==3.0.0
google-cloud-bigquery==3.35.1
Brotli==1.1.0
grpc-google-iam-v1==0.14.2
pynvjitlink-cu12==0.7.0
en_core_web_sm==3.8.0
google-cloud-language==2.17.2
graphviz==0.21
treescope==0.1.10
earthengine-api==1.5.24
autograd==1.8.0
pydata-google-auth==1.9.1
confection==0.1.5
dask-cuda==25.6.0
dill==0.3.8
keyring==25.6.0
cloudpickle==3.1.1
soupsieve==2.7
fastcore==1.7.29
libcuvs-cu12==25.6.1
sentry-sdk==2.34.1
yellowbrick==1.5
text-unidecode==1.3
argon2-cffi==25.1.0
tensorstore==0.1.76
gcsfs==2025.3.0
tabulate==0.9.0
lxml==5.4.0
timm==1.0.19
websockets==15.0.1
geopandas==1.1.1
tf-slim==1.1.0
urllib3==2.5.0
types-pytz==2025.2.0.20250809
fsspec==2025.3.0
tzdata==2025.2
langchain-text-splitters==0.3.9
vega-datasets==0.9.0
nvidia-nccl-cu12==2.23.4
importlib_metadata==8.7.0
tbb==2022.2.0
humanize==4.12.3
tweepy==4.16.0
fastapi==0.116.1
prompt_toolkit==3.0.51
h5netcdf==1.6.4
sqlparse==0.5.3
tensorflow-io-gcs-filesystem==0.37.1
ipyparallel==8.8.0
intel-openmp==2025.2.0
tensorflow_decision_forests==1.12.0
murmurhash==1.0.13
oauthlib==3.3.1
imagesize==1.4.1
regex==2024.11.6
packaging==25.0
shellingham==1.5.4
cycler==0.12.1
distributed-ucxx-cu12==0.44.0
roman-numerals-py==3.1.0
sniffio==1.3.1
ipython-genutils==0.2.0
nbconvert==7.16.6
jupyter_core==5.8.1
tsfresh==0.21.0
jupyter_kernel_gateway==2.5.2
tensorflow-text==2.19.0
hyperopt==0.2.7
gym-notices==0.1.0
jieba==0.42.1
google==2.0.3
promise==2.3
libkvikio-cu12==25.6.0
safehttpx==0.1.6
anyio==4.10.0
llvmlite==0.43.0
cuml-cu12==25.6.0
google-resumable-media==2.7.2
tables==3.10.2
tensorboard==2.19.0
fastdownload==0.0.7
ply==3.11
pyviz_comms==3.0.6
itsdangerous==2.2.0
albumentations==2.0.8
psycopg2==2.9.10
jaraco.classes==3.4.0
tqdm==4.67.1
keyrings.google-artifactregistry-auth==1.1.2
nvidia-nvjitlink-cu12==12.5.82
textblob==0.19.0
rpds-py==0.27.0
pandocfilters==1.5.1
tensorflow-datasets==4.9.9
libraft-cu12==25.6.0
huggingface-hub==0.34.4
numpy==2.0.2
polars==1.25.2
tensorflow==2.19.0
google-cloud-bigquery-connection==1.18.3
hf-xet==1.1.7
astropy==7.1.0
threadpoolctl==3.6.0
requests-toolbelt==1.0.0
websocket-client==1.8.0
psutil==5.9.5
gradio_client==1.11.1
cons==0.4.7
cyipopt==1.5.0
httplib2==0.22.0
hf_transfer==0.1.9
jsonschema==4.25.0
cloudpathlib==0.21.1
webcolors==24.11.1
html5lib==1.1
scooby==0.10.1
einops==0.8.1
tiktoken==0.11.0
pyasn1_modules==0.4.2
nvidia-cusparselt-cu12==0.6.2
libcudf-cu12==25.6.0
prometheus_client==0.22.1
libcugraph-cu12==25.6.0
umf==0.11.0
sphinxcontrib-htmlhelp==2.1.0
cudf-polars-cu12==25.6.0
partd==1.4.2
pycparser==2.22
lightgbm==4.6.0
ipykernel==6.17.1
nvtx==0.2.13
jupyterlab_widgets==3.0.15
hpack==4.1.0
kaggle==1.7.4.5
ucxx-cu12==0.44.0
etils==1.13.0
colorlover==0.3.0
google-cloud-datastore==2.21.0
MarkupSafe==3.0.2
google-cloud-bigquery-storage==2.32.0
proglog==0.1.12
py-cpuinfo==9.0.0
mizani==0.13.5
click==8.2.1
astropy-iers-data==0.2025.8.11.0.41.9
google-crc32c==1.7.1
PyJWT==2.10.1
pylibcudf-cu12==25.6.0
etuples==0.3.10
spacy==3.8.7
xgboost==3.0.4
linkify-it-py==2.0.3
h11==0.16.0
community==1.0.0b1
PyYAML==6.0.2
wandb==0.21.1
lazy_loader==0.4
python-multipart==0.0.20
tf_keras==2.19.0
language_data==1.3.0
inflect==7.5.0
branca==0.8.1
idna==3.10
multipledispatch==1.0.0
gradio==5.42.0
pytensor==2.31.7
imageio-ffmpeg==0.6.0
frozenlist==1.7.0
librosa==0.11.0
tcmlib==1.4.0
stumpy==1.13.0
cuvs-cu12==25.6.1
ipyevents==2.0.2
jsonpointer==3.0.0
docutils==0.21.2
snowballstemmer==3.0.1
frozendict==2.4.6
sklearn-pandas==2.2.0
slicer==0.0.8
protobuf==5.29.5
psygnal==0.14.0
greenlet==3.2.4
duckdb==1.3.2
googledrivedownloader==1.1.0
gin-config==0.5.0
httpimport==1.4.1
pymc==5.25.1
jupyterlab_pygments==0.3.0
uritemplate==4.2.0
oauth2client==4.1.3
cvxopt==1.3.2
gspread==6.2.1
blosc2==3.6.1
shapely==2.1.1
rmm-cu12==25.6.0
geocoder==1.38.1
patsy==1.0.1
requests-oauthlib==2.0.0
atpublic==5.1
jiter==0.10.0
google-cloud-firestore==2.21.0
pandas==2.2.2
gymnasium==1.2.0
cupy-cuda12x==13.3.0
jupytext==1.17.2
jsonpickle==4.1.1
pynvml==12.0.0
nvidia-cuda-runtime-cu12==12.5.82
spacy-legacy==3.0.12
safetensors==0.6.2
logical-unification==0.4.6
ipywidgets==7.7.1
SecretStorage==3.3.3
scipy==1.16.1
torchvision==0.21.0+cu124
jupyter-console==6.1.0
ratelim==0.1.6
nvidia-cublas-cu12==12.5.3.2
python-dateutil==2.9.0.post0
jsonschema-specifications==2025.4.1
h2==4.2.0
xarray==2025.7.1
zipp==3.23.0
pyogrio==0.11.1
bqplot==0.12.45
uc-micro-py==1.0.3
ipython==7.34.0
prophet==1.1.7
imbalanced-learn==0.13.0
raft-dask-cu12==25.6.0
markdown-it-py==4.0.0
nvidia-cusparse-cu12==12.5.1.3
fastjsonschema==2.21.1
Pygments==2.19.2
cmdstanpy==1.2.5
eerepr==0.1.2
zstandard==0.23.0
python-louvain==0.16
tomlkit==0.13.3
pygit2==1.18.1
torchao==0.10.0
notebook==6.5.7
babel==2.17.0
parso==0.8.4
kiwisolver==1.4.9
scikit-image==0.25.2
ydf==0.13.0
opt_einsum==3.4.0
chex==0.1.90
absl-py==1.4.0
pydot==3.0.4
marisa-trie==1.2.1
jsonpatch==1.33
google-cloud-functions==1.20.4
google-api-core==2.25.1
distro==1.9.0
pexpect==4.9.0
openai==1.99.8
toml==0.10.2
tblib==3.1.0
spacy-loggers==1.0.5
dask-cudf-cu12==25.6.0
PySocks==1.7.1
scikit-learn==1.6.1
Bottleneck==1.4.2
soundfile==0.13.1
audioread==3.0.1
editdistance==0.8.1
google-cloud-translate==3.21.1
numba-cuda==0.11.0
GitPython==3.1.45
backports.tarfile==1.2.0
easydict==1.13
plotly==5.24.1
google-auth==2.38.0
music21==9.3.0
arviz==0.22.0
nbclassic==1.3.1
google-genai==1.29.0
opencv-python==4.12.0.88
dm-tree==0.1.9
pyOpenSSL==24.2.1
plotnine==0.14.5
immutabledict==4.2.1
starlette==0.47.2
toolz==0.12.1
grpcio==1.74.0
tenacity==9.1.2
cmake==3.31.6
GDAL==3.8.4
dlib==19.24.6
geographiclib==2.0
yfinance==0.2.65
nvidia-nvtx-cu12==12.4.127
transformers==4.55.0
pycryptodomex==3.23.0
tensorflow-hub==0.16.1
intel-cmplr-lib-ur==2025.2.0
Werkzeug==3.1.3
bigquery-magics==0.10.2
Flask==3.1.1
preshed==3.0.10
Sphinx==8.2.3
google-ai-generativelanguage==0.6.15
nltk==3.9.1
py4j==0.10.9.7
scs==3.2.8
rich==13.9.4
charset-normalizer==3.4.3
soxr==0.5.0.post1
albucore==0.0.24
jaraco.functools==4.2.1
h5py==3.14.0
yarl==1.20.1
contourpy==1.3.3
uvicorn==0.35.0
narwhals==2.1.0
jax-cuda12-plugin==0.5.3
python-snappy==0.7.3
pylibcugraph-cu12==25.6.0
sqlglot==25.20.2
ucx-py-cu12==0.44.0
googleapis-common-protos==1.70.0
jupyter-leaflet==0.20.0
rsa==4.9.1
docstring_parser==0.17.0
traittypes==0.2.1
mistune==3.1.3
typeguard==4.4.4
pydub==0.25.1
joblib==1.5.1
tokenizers==0.21.4
cvxpy==1.6.7
natsort==8.4.0
dataproc-spark-connect==0.8.3
pyproj==3.7.1
colorcet==3.1.0
smmap==5.0.2
Jinja2==3.1.6
cachetools==5.5.2
ipyleaflet==0.20.0
holidays==0.78
sympy==1.13.1
wrapt==1.17.2
pygame==2.6.1
pyarrow==18.1.0
semantic-version==2.10.0
Send2Trash==1.8.3
cudf-cu12==25.6.0
aiohappyeyeballs==2.6.1
clarabel==0.11.1
simplejson==3.20.1
pyparsing==3.2.3
multidict==6.6.4
pyshp==2.3.1
pyproject_hooks==1.2.0
curl_cffi==0.13.0
pytz==2025.2
msgpack==1.1.1
gast==0.6.0
umap-learn==0.5.9.post2
dopamine_rl==4.1.2
nibabel==5.3.2
sphinxcontrib-devhelp==2.0.0
keras-nlp==0.21.1
mdurl==0.1.2
locket==1.0.0
nvidia-curand-cu12==10.3.6.82
tensorboard-data-server==0.7.2
libcuml-cu12==25.6.0
torchaudio==2.6.0+cu124
numexpr==2.11.0
jax-cuda12-pjrt==0.5.3
mpmath==1.3.0
ruff==0.12.8
pydotplus==2.0.2
orbax-checkpoint==0.11.21
catalogue==2.0.10
panel==1.7.5
xlrd==2.0.2
opencv-python-headless==4.12.0.88
jax==0.5.3
propcache==0.3.2
certifi==2025.8.3
Farama-Notifications==0.0.4
langchain==0.3.27
hyperframe==6.1.0
PyWavelets==1.9.0
ipyfilechooser==0.6.0
traitlets==5.7.1
jaxlib==0.5.3
gym==0.25.2
jupyter-client==6.1.12
fastrlock==0.8.3
tensorflow-metadata==1.17.2
antlr4-python3-runtime==4.9.3
peft==0.17.0
opencv-contrib-python==4.12.0.88
parsy==2.1
nvidia-ml-py==12.575.51
imageio==2.37.0
google-cloud-aiplatform==1.108.0
notebook_shim==0.2.4
pyasn1==0.6.1
cufflinks==0.17.3
statsmodels==0.14.5
torchdata==0.11.0
ipython-sql==0.5.0
nvidia-cuda-nvcc-cu12==12.5.82
argon2-cffi-bindings==25.1.0
python-utils==3.9.1
bokeh==3.7.3
build==1.3.0
keras==3.10.0
tifffile==2025.6.11
orjson==3.11.1
jaraco.context==6.0.1
google-cloud-spanner==3.56.0
pyzmq==26.2.1
simple-parsing==0.1.7
six==1.17.0
langsmith==0.4.13
google-pasta==0.2.0
fastai==2.7.19
prettytable==3.16.0
spanner-graph-notebook==1.1.7
cramjam==2.11.0
bigframes==2.14.0
pyomo==6.9.3
beautifulsoup4==4.13.4
python-slugify==8.0.4
aiohttp==3.12.15
folium==0.20.0
xyzservices==2025.4.0
pandas-datareader==0.10.0
nvidia-cufft-cu12==11.2.3.61
librmm-cu12==25.6.0
tornado==6.4.2
filelock==3.18.0
nvidia-cudnn-cu12==9.3.0.75
stringzilla==3.12.6
wurlitzer==3.1.1
nbclient==0.10.2
multiprocess==0.70.16
optax==0.2.5
terminado==0.18.1
annotated-types==0.7.0
pooch==1.8.2
ml_dtypes==0.5.3
wasabi==1.1.3
fastprogress==1.0.3
platformdirs==4.3.8
nx-cugraph-cu12==25.6.0
betterproto==2.0.0b6
ndindex==1.10.0
cymem==2.0.11
multitasking==0.0.12
mkl==2025.2.0
blis==1.3.0
ibis-framework==9.5.0
grpcio-status==1.71.2
optree==0.17.0
cuda-python==12.6.2.post1
shap==0.48.0
CacheControl==0.14.3
torchsummary==1.5.1
tinycss2==1.4.0
pydantic==2.11.7
sklearn-compat==0.1.3
blinker==1.9.0
tensorflow-probability==0.25.0
numba==0.60.0
jupyter-server==1.16.0
sentencepiece==0.2.0
libpysal==4.13.0
ale-py==0.11.2
Cython==3.0.12
aiosignal==1.4.0
ipytree==0.2.2
typer==0.16.0
dask==2025.5.0
langcodes==3.5.0
libucx-cu12==1.18.1
altair==5.5.0
matplotlib-venn==1.1.2
torch==2.6.0+cu124
libucxx-cu12==0.44.0
networkx==3.5
mdit-py-plugins==0.5.0
geopy==2.4.1
pandas-stubs==2.2.2.240909
cffi==1.17.1
entrypoints==0.4
pickleshare==0.7.5
google-cloud-storage==2.19.0
hdbscan==0.8.40
ptyprocess==0.7.0
httpx==0.28.1
gdown==5.2.0
treelite==4.4.1
nvidia-cuda-cupti-cu12==12.5.82
simsimd==6.5.0
holoviews==1.21.0
peewee==3.18.2
pyerfa==2.0.1.5
pytest==8.4.1
flatbuffers==25.2.10
nvidia-cusolver-cu12==11.6.3.83
nbformat==5.10.4
zict==3.0.0
param==2.2.1
webencodings==0.5.1
google-cloud-core==2.4.3
requests==2.32.3
nest-asyncio==1.6.0
matplotlib==3.10.0
fonttools==4.59.0
sphinxcontrib-applehelp==2.0.0
anywidget==0.9.18
chardet==5.2.0
rpy2==3.5.17
bleach==6.2.0
pycocotools==2.0.10
moviepy==1.0.3
gitdb==4.0.12
missingno==0.5.2
wcwidth==0.2.13
google-api-python-client==2.178.0
accelerate==1.10.0
iniconfig==2.1.0
pycairo==1.28.0
httpcore==1.0.9
matplotlib-inline==0.1.7
python-box==7.3.2
progressbar2==4.5.0
kagglehub==0.3.12
google-auth-httplib2==0.2.0
SQLAlchemy==2.0.43
google-generativeai==0.8.5
referencing==0.36.2
srsly==2.5.1
google-auth-oauthlib==1.2.2
future==1.0.0
datasets==4.0.0
wheel==0.45.1
backcall==0.2.0
geemap==0.35.3
sortedcontainers==2.4.0
libclang==18.1.1
jeepney==0.9.0
rapids-logger==0.1.1
decorator==4.4.2
stanio==0.5.1
Markdown==3.8.2
triton==3.2.0
widgetsnbextension==3.6.10
langchain-core==0.3.74
aiofiles==24.1.0
debugpy==1.8.15
miniKanren==1.0.5
highspy==1.11.0
typing_extensions==4.14.1
wordcloud==1.9.4
pyperclip==1.9.0
PyDrive2==1.21.3
pluggy==1.6.0
xarray-einstats==0.9.1
astunparse==1.6.3
omegaconf==2.3.0
imutils==0.5.4
pynndescent==0.5.13
defusedxml==0.7.1
sphinxcontrib-jsmath==1.0.1
typing-inspection==0.4.1
distributed==2025.5.0
keras-hub==0.21.1
pyspark==3.5.1
flax==0.10.6
et_xmlfile==2.0.0
PyOpenGL==3.1.9
rapids-dask-dependency==25.6.0
alabaster==1.0.0
mlxtend==0.23.4
more-itertools==10.7.0
namex==0.1.0
attrs==25.3.0
proto-plus==1.26.1
sphinxcontrib-serializinghtml==2.0.0
grpclib==0.4.8
glob2==0.7
nvidia-cuda-nvrtc-cu12==12.5.82
array_record==0.7.2
sentence-transformers==5.1.0
thinc==8.3.6
diffusers==0.34.0
pillow==11.3.0
groovy==0.1.2
firebase-admin==6.9.0
colour==0.1.5
cryptography==43.0.3
sphinxcontrib-qthelp==2.0.0
importlib_resources==6.5.2
PyGObject==3.42.0
openpyxl==3.1.5
db-dtypes==1.4.3
xxhash==3.5.0
torchtune==0.6.1
ffmpy==0.6.1
python-apt==0.0.0
types-setuptools==80.9.0.20250809
setuptools==75.2.0
pip==24.1.2
requirements-parser==0.9.0
launchpadlib==1.10.16
lazr.restfulclient==0.14.4
PyJWT==2.3.0
oauthlib==3.2.0
keyring==23.5.0
cryptography==3.4.8
SecretStorage==3.3.1
distro==1.7.0
PyGObject==3.42.1
blinker==1.4
more-itertools==8.10.0
jeepney==0.7.1
wadllib==1.3.6
zipp==1.0.0
python-apt==2.4.0+ubuntu4
importlib-metadata==4.6.4
six==1.16.0
lazr.uri==1.0.6
httplib2==0.20.2
pyparsing==2.4.7
dbus-python==1.2.18
Markdown==3.3.6
MarkupSafe==2.0.1
Mako==1.1.3
jaraco.text==3.12.1
tomli==2.0.1
zipp==3.19.2
importlib_resources==6.4.0
packaging==24.1
typing_extensions==4.12.2
importlib_metadata==8.0.0
platformdirs==4.2.2
backports.tarfile==1.2.0
jaraco.functools==4.0.1
jaraco.collections==5.1.0
inflect==7.3.1
typeguard==4.3.0
jaraco.context==5.3.0
autocommand==2.2.2
wheel==0.43.0
more-itertools==10.3.0
